/*html {
    background: url('../img/KMDlogo.svg') center center no-repeat;
    width: 100%;
    height: 100%;
}*/

img.logo {
   position: absolute;
   top: 30px;
   left: 30px;
   width: 200px;
   /*height: 500px;*/
}

.tdd img {
    max-width: 50%;
}
.reveal pre code {
    font-size: 20px;
}
.agenda li {

}
.reveal ul li,
.reveal ol li {
    font-size: 30px;
}

.a-b-testing ol li {
    list-style: none;
}

.reveal table td {
    vertical-align: top;
    padding: 0;
}

.a-b-testing img,
.meaningful-paint img {
    max-width: 50%;
}
.reveal p {
    font-size: 32px;
}